.footer {
  height: 30rem;
  width: 100%;
  background: url("../asset/footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;

  .footer-container {
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    div {
      h1 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
      }
      p {
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 0.5rem;
      }
    }
  }
}
