.footer {
  height: 40rem;
  width: 100%;
  background: url("../asset/footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;

  .footer-container {
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
