.home {
  position: relative;
  height: 100vh;
  min-height: 90rem;

  .container-page {
    margin-left: auto;
    width: 92%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text-container {
      .big-text {
        position: relative;
        font-size: 4.5rem;
        letter-spacing: 0.2rem;
        transform: translateY(200%);
        opacity: 0;
        transition: all 0.5s ease;
      }

      .big-text::first-letter {
        color: #6878fd;
      }

      .description {
        position: relative;
        font-size: 1.8rem;
        margin-top: 2.5rem;
        width: 75%;
        transform: translateY(200%);
        opacity: 0;
        transition: all 0.5s ease;
      }

      .text-fade-in {
        transform: translateY(0%);
        opacity: 1;
      }
    }
  }

  .svg-home {
    height: 70%;
    position: relative;
    opacity: 0;
    transform: translateY(10%);
    transition: all 0.5s ease 0.3s;
  }

  .svg-fade-in {
    transform: translateY(0%);
    opacity: 1;
  }
}

.home-circle {
  position: absolute;
  z-index: -1;
}

.home-circle-left {
  top: 0;
  left: 0;
  height: 80%;
}
.home-circle-right {
  right: 5rem;
  top: 13rem;
  height: 80%;
}
