.spear {
  position: relative;
  background-color: #1a2336;
  color: rgba(255, 255, 255, 0.9);
  padding: 10rem 2rem;

  &__title-container {
    max-width: 70rem;
    text-align: center;
    margin: auto;
  }

  &__title {
    font-size: 4rem;
    @include settingForAnimation(5rem);
  }

  &__description {
    font-size: 1.6rem;
    margin-top: 1rem;
    color: rgba(255, 255, 255, 0.6);
    @include settingForAnimation(5rem);
  }

  &__description-fade-in {
    opacity: 1;
    transform: translateY(0rem);
  }

  &__title-fade-in {
    opacity: 1;
    transform: translateY(0rem);
  }

  &__card-container {
    display: flex;
    max-width: 120rem;
    margin: 7rem auto 0;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__card {
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 4rem;
    border-radius: 2.5rem;
    transition: all 0.2s ease;
    @include settingForAnimation(5rem);

    img {
      height: 10rem;
    }

    h1 {
      font-size: 2rem;
      margin: 1rem 0;
    }

    p {
      font-size: 1.5rem;
      color: rgba(255, 255, 255, 0.6);
    }
  }
  .spear-card-fade-in {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@media screen and (max-width: 1055px) {
  .spear {
    &__card {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-rows: 1fr 4fr;
      grid-column-gap: 2rem;
      width: 40rem;
      height: 20rem;
      padding: 5rem 2rem;
      text-align: left;

      img {
        grid-column: 1/2;
        grid-row: 1/3;
      }
      h1 {
      }
    }
  }
}
