.spear {
  &__title-container {
    width: 35%;
    text-align: center;
    margin: auto;
    padding-top: 3rem;
  }

  &__title {
    position: relative;
    margin-top: 10rem;
    font-size: 4rem;
    transform: translateY(200%);
    opacity: 0;
    transition: all 0.3s ease;
  }

  &__description {
    font-size: 1.6rem;
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.6);
    @include settingForAnimation(5rem);
  }

  &__description-fade-in {
    opacity: 1;
    transform: translateY(0rem);
  }

  &__title-fade-in {
    opacity: 1;
    transform: translateY(0rem);
  }

  &__card-container {
    display: flex;
    width: 70%;
    margin: 5rem auto;
    justify-content: space-around;
  }

  &__card {
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4rem;
    border-radius: 2.5rem;
    transition: all 0.2s ease;

    img {
      height: 10rem;
      @include settingForAnimation(5rem);
    }

    h1 {
      font-size: 2rem;
      margin: 1rem 0;
      @include settingForAnimation(5rem);
    }

    p {
      font-size: 1.5rem;
      @include settingForAnimation(5rem);
    }

    .child-card-fade-in {
      opacity: 1;
      transform: translateY(0rem);
    }
  }
}
