@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #181a2b;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1a1;
}

.loading-page {
  position: fixed;
  z-index: 999;
  height: 100vh;
  width: 100%;
  background-color: #f4f7ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.loading-page__container {
  position: relative;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading-page__icon {
  height: 70%;
  -webkit-animation: rotateIcon 2s linear infinite;
          animation: rotateIcon 2s linear infinite;
}

.loading-page__text {
  font-size: 4rem;
  letter-spacing: 0.3rem;
  -webkit-animation: opacityText 2s linear infinite;
          animation: opacityText 2s linear infinite;
}

.loading-page-finish {
  opacity: 0;
  pointer-events: none;
}

@-webkit-keyframes rotateIcon {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateIcon {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes opacityText {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacityText {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.nav {
  position: fixed;
  left: 0;
  right: 0;
  height: 11vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  z-index: 99;
  -webkit-transform: translateY(-11vh);
          transform: translateY(-11vh);
}

.nav__logo {
  font-size: 2.8rem;
  margin-left: 8%;
  text-transform: uppercase;
}

.nav__logo a {
  text-decoration: none;
  color: black;
}

.nav__logo__second-text {
  color: #6878fd;
}

.nav__ul {
  list-style: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin-right: 5%;
  font-size: 1.7rem;
}

.nav__ul li a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav__ul li a:hover {
  color: #5f5f5f;
}

.nav__hamburger {
  display: none;
  margin-right: 8%;
}

.nav__hamburger .line {
  margin: 0.5rem 0;
  height: 0.3rem;
  width: 2.5rem;
  background-color: black;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.nav-active {
  -webkit-transform: translateY(0vh);
          transform: translateY(0vh);
}

.nav-sticky {
  background-color: white;
  position: fixed;
  height: 8vh;
  -webkit-box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
          box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1150px) {
  .nav__ul {
    width: 60%;
  }
}

@media screen and (max-width: 1150px) {
  .nav__ul {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    width: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .nav__ul li {
    opacity: 0;
  }
  .nav__hamburger {
    display: block;
    cursor: pointer;
  }
  .nav-ul-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.home {
  position: relative;
  height: 100vh;
  min-height: 90rem;
}

.home .container-page {
  margin-left: auto;
  width: 92%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .container-page .text-container .big-text {
  font-size: 4.5rem;
  letter-spacing: 0.2rem;
  position: relative;
  position: relative;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.home .container-page .text-container .big-text::first-letter {
  color: #6878fd;
}

.home .container-page .text-container .description {
  font-size: 1.8rem;
  margin-top: 2.5rem;
  width: 75%;
  position: relative;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.home .container-page .text-container .text-fade-in {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  opacity: 1;
}

.home .svg-home {
  height: 70%;
  position: relative;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.home .svg-fade-in {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.home-circle {
  position: absolute;
  z-index: -1;
}

.home-circle-left {
  top: 0;
  left: 0;
  height: 80%;
}

@media screen and (max-width: 1600px) {
  .home-circle {
    display: none;
  }
}

@media screen and (max-width: 1150px) {
  .container-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .container-page .text-container {
    text-align: center;
    margin-top: 20rem;
  }
  .container-page .text-container .description {
    margin: 2rem auto;
    width: 100% !important;
  }
  .container-page .svg-home {
    position: absolute;
    height: 50%;
    top: 65%;
    left: 51%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 700px) {
  .svg-home {
    height: 30% !important;
  }
}

.spear {
  position: relative;
  background-color: #1a2336;
  color: rgba(255, 255, 255, 0.9);
  padding: 10rem 2rem;
}

.spear__title-container {
  max-width: 70rem;
  text-align: center;
  margin: auto;
}

.spear__title {
  font-size: 4rem;
  position: relative;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.spear__description {
  font-size: 1.6rem;
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.spear__description-fade-in {
  opacity: 1;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.spear__title-fade-in {
  opacity: 1;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.spear__card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 120rem;
  margin: 7rem auto 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.spear__card {
  width: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 4rem;
  border-radius: 2.5rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.spear__card img {
  height: 10rem;
}

.spear__card h1 {
  font-size: 2rem;
  margin: 1rem 0;
}

.spear__card p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
}

.spear .spear-card-fade-in {
  opacity: 1;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

@media screen and (max-width: 1055px) {
  .spear__card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    -ms-grid-rows: 1fr 4fr;
        grid-template-rows: 1fr 4fr;
    grid-column-gap: 2rem;
    width: 40rem;
    height: 20rem;
    padding: 5rem 2rem;
    text-align: left;
  }
  .spear__card img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
}

.tracker {
  padding: 15rem 0;
}

.tracker__info {
  margin: auto;
  max-width: 100rem;
}

.tracker__info__title {
  margin: 0 0 2rem 2rem;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tracker__info__title .icon {
  color: #6c63ff;
  font-size: 3rem;
  margin-right: 1rem;
}

.tracker__info__title img {
  height: 5rem;
  margin-right: 1rem;
}

.tracker__info__container {
  width: 100%;
  border-radius: 3rem;
  -webkit-box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.3);
          box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem;
  margin-bottom: 5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tracker__info__container__card {
  height: 10rem;
  width: 25rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.tracker__info__container__card__aside {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1rem;
}

.tracker__info__container__card__text {
  font-size: 1.5rem;
}

.tracker__info__container__card__number {
  font-size: 2.2rem;
  font-weight: 900;
}

.tracker__info__container__card:nth-of-type(1) {
  background-color: #ddecfe;
}

.tracker__info__container__card:nth-of-type(1) div {
  background-color: #247ce5;
}

.tracker__info__container__card:nth-of-type(2) {
  background-color: #ffe9e6;
}

.tracker__info__container__card:nth-of-type(2) div {
  background-color: #fd5238;
}

.tracker__info__container__card:nth-of-type(3) {
  background-color: #eef9e8;
}

.tracker__info__container__card:nth-of-type(3) div {
  background-color: #51c666;
}

.tracker-board {
  max-width: 100rem;
  height: 70rem;
  margin: 10rem auto;
  overflow-y: scroll;
  overflow-x: scroll;
  border-radius: 0.5rem 0.5rem 0 0;
  -webkit-box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.3);
          box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.3);
}

.tracker-board .tracker-board-content-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 1.5rem;
}

.tracker-board .tracker-board-content-table th,
.tracker-board .tracker-board-content-table td {
  padding: 1.2rem 1.5rem;
}

.tracker-board .tracker-board-content-table thead tr {
  padding: 2rem 0;
  font-weight: bold;
}

.tracker-board .tracker-board-content-table thead tr th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: white;
  background-color: #1a2336;
}

.tracker-board .tracker-board-content-table thead tr th:nth-child(3) {
  background-color: #247ce5;
  text-align: center;
}

.tracker-board .tracker-board-content-table thead tr th:nth-child(4) {
  background-color: #fd5238;
  text-align: center;
}

.tracker-board .tracker-board-content-table thead tr th:nth-child(5) {
  background-color: #51c666;
  text-align: center;
}

.tracker-board .tracker-board-content-table tbody tr {
  padding: 0.5rem 0;
  font-weight: 100;
  border: 0.1rem solid #dddddd;
}

.tracker-board .tracker-board-content-table tbody tr td:nth-child(2) {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tracker-board .tracker-board-content-table tbody tr td:nth-child(1) {
  width: 0.1rem;
  padding-right: 0;
}

.tracker-board .tracker-board-content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.tracker-board .tracker-board-content-table tbody tr:last-of-type {
  border-bottom: 2px solid #1a2336;
}

.tracker-board .tracker-board-content-table tbody tr td:nth-child(3) {
  text-align: center;
}

.tracker-board .tracker-board-content-table tbody tr td:nth-child(4) {
  text-align: center;
}

.tracker-board .tracker-board-content-table tbody tr td:nth-child(5) {
  text-align: center;
}

.tracker-board .tracker-board-content-table tbody tr td .flag-icon {
  height: 3rem;
  margin-right: 1rem;
}

.tracker-map {
  max-width: 120rem;
  margin: auto;
}

.solution {
  position: relative;
  color: rgba(255, 255, 255, 0.9);
  background-color: #1a2336;
  padding: 10rem 2rem;
}

.solution__title-container {
  margin: auto;
  max-width: 70rem;
  text-align: center;
}

.solution__title-container .solution__title {
  font-size: 4rem;
  position: relative;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.solution__title-container .solution__description {
  width: 50rem;
  font-size: 1.6rem;
  margin: 1.5rem auto auto;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.solution__title-container .solution-fade-in {
  opacity: 1;
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.solution__card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 150rem;
  margin: 5rem auto;
}

.solution__card-container .solution__card {
  width: 20rem;
  text-align: center;
  padding: 0 2rem;
  position: relative;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.solution__card-container .solution__card img {
  height: 10rem;
}

.solution__card-container .solution__card h1 {
  font-size: 2rem;
  margin: 1rem 0;
}

.solution__card-container .solution__card p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
}

.solution__card-container .solution-fade-in {
  opacity: 1;
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

@media screen and (max-width: 1055px) {
  .solution .solution__card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    -ms-grid-rows: 1fr 4fr;
        grid-template-rows: 1fr 4fr;
    grid-column-gap: 2rem;
    width: 40rem;
    height: 20rem;
    padding: 5rem 2rem;
    text-align: left;
  }
  .solution .solution__card img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
}

.contact-form {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

.contact-form .contact-container {
  height: 60rem;
  width: 110rem;
  position: relative;
}

.contact-form .contact-container .contact-container-fixedInfo {
  color: white;
  height: 40rem;
  width: 35rem;
  padding: 4rem;
  background-color: #1a2336;
  position: absolute;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  top: 50%;
  left: 0;
  -webkit-box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.contact-form .contact-container .contact-container-fixedInfo .contact-contactInfo {
  height: 90%;
}

.contact-form .contact-container .contact-container-fixedInfo .contact-contactInfo h2 {
  font-size: 2.3rem;
  margin-bottom: 2rem;
}

.contact-form .contact-container .contact-container-fixedInfo .contact-contactInfo ul {
  list-style: none;
}

.contact-form .contact-container .contact-container-fixedInfo .contact-contactInfo ul li {
  margin: 2rem 0;
  font-size: 1.5rem;
  line-height: 2.2rem;
}

.contact-form .contact-container .contact-container-fixedInfo .contact-contactInfo ul li a {
  color: #fff;
  opacity: 0.5;
  text-decoration: none;
}

.contact-form .contact-container .contact-container-fixedInfo .contact-contactInfo ul li a .contact-contactInfo-icon {
  font-size: 2rem;
  margin-right: 1rem;
}

.contact-form .contact-container .contact-container-fixedInfo .contact-contactInfo ul li a:hover {
  opacity: 0.7;
}

.contact-form .contact-container .contact-container-fixedInfo .contact-info-icon-contanier {
  height: 10%;
}

.contact-form .contact-container .contact-container-fixedInfo .contact-info-icon-contanier a {
  color: #fff;
  opacity: 0.5;
  font-size: 3rem;
  text-decoration: none;
  margin-right: 1rem;
}

.contact-form .contact-container .contact-container-fixedInfo .contact-info-icon-contanier a:hover {
  opacity: 0.7;
}

.contact-form .contact-container .contact-container-form {
  margin-left: auto;
  padding: 3rem 3rem 3rem 22rem;
  max-width: 92.5rem;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.3);
          box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.3);
}

.contact-form .contact-container .contact-container-form h2 {
  margin-top: 5rem;
  color: #1a2336;
  font-size: 2.5rem;
}

.contact-form .contact-container .contact-container-form-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 3rem;
}

.contact-form .contact-container .contact-container-form .contact-form-inputbox {
  position: relative;
  margin-bottom: 3.5rem;
}

.contact-form .contact-container .contact-container-form .contact-form-inputbox input,
.contact-form .contact-container .contact-container-form .contact-form-inputbox textarea {
  width: 100%;
  padding: 0.5rem 0;
  font-size: 1.8rem;
  border: none;
  color: #1a2336;
  border-bottom: 0.1rem solid #1a2336;
  outline: none;
  resize: none;
}

.contact-form .contact-container .contact-container-form .contact-form-inputbox textarea {
  min-height: 12rem;
}

.contact-form .contact-container .contact-container-form .contact-form-inputbox span {
  position: absolute;
  left: 0;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 300;
  color: #1a2336;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  pointer-events: none;
}

.contact-form .contact-container .contact-container-form .contact-form-inputbox input:focus ~ span,
.contact-form .contact-container .contact-container-form .contact-form-inputbox textarea:focus ~ span,
.contact-form .contact-container .contact-container-form .contact-form-inputbox input:valid ~ span,
.contact-form .contact-container .contact-container-form .contact-form-inputbox textarea:valid ~ span {
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #6878fd;
}

.contact-form .contact-container .contact-container-form .contact-form-inputbox input[type="submit"] {
  position: relative;
  cursor: pointer;
  border: none;
  background-color: #1a2336;
  width: 10rem;
  padding: 1.2rem;
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact-form .contact-container .contact-container-form .contact-form-inputbox input[type="submit"]:hover {
  background-color: #6878fd;
}

.contact-form .contact-container .contact-container-form .w50 {
  width: 47%;
}

.contact-form .contact-container .contact-container-form .w100 {
  width: 100%;
}

@media screen and (max-width: 1130px) {
  .contact-container-form {
    text-align: center;
  }
  .contact-container-form-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-container-form .w100 {
    width: 47% !important;
  }
  .contact-form-inputbox input[type="submit"] {
    margin-top: -2rem;
  }
}

@media screen and (max-width: 900px) {
  .contact-form {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 3rem;
  }
  .contact-container-form {
    padding: 3rem !important;
  }
  .contact-container-form .w100,
  .contact-container-form .w50 {
    width: 100% !important;
  }
  .contact-container-fixedInfo {
    top: 120% !important;
    height: 18rem !important;
  }
  .contact-container-fixedInfo .contact-contactInfo h2 {
    margin: 0 !important;
  }
  .contact-container-fixedInfo ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-container-fixedInfo ul li a {
    margin-right: 1rem;
    font-size: 3rem !important;
  }
  .contact-container-fixedInfo ul li a span {
    display: none;
  }
}

.footer {
  height: 30rem;
  width: 100%;
  background: url("../asset/footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
}

.footer .footer-container {
  width: 70%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-container div h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.footer .footer-container div p {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 0.5rem;
}
/*# sourceMappingURL=style.css.map */