@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

@mixin settingForAnimation($num) {
  position: relative;
  transform: translateY($num);
  opacity: 0;
  transition: all 0.4s ease;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

@import "./loadingPage";
@import "./header";
@import "./home";
@import "./spear";
@import "./tracker";
@import "./solution";
@import "./footer";
