@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #181a2b;
}

.loading-page {
  position: fixed;
  z-index: 999;
  height: 100vh;
  width: 100%;
  background-color: #f4f7ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.loading-page__container {
  position: relative;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading-page__icon {
  height: 70%;
  -webkit-animation: rotateIcon 2s linear infinite;
          animation: rotateIcon 2s linear infinite;
}

.loading-page__text {
  font-size: 4rem;
  letter-spacing: 0.3rem;
  -webkit-animation: opacityText 2s linear infinite;
          animation: opacityText 2s linear infinite;
}

.loading-page-finish {
  opacity: 0;
  pointer-events: none;
}

@-webkit-keyframes rotateIcon {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateIcon {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes opacityText {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacityText {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.nav {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 11vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  z-index: 99;
  -webkit-transform: translateY(-11vh);
          transform: translateY(-11vh);
}

.nav__logo {
  font-size: 2.8rem;
  margin-left: 8%;
  text-transform: uppercase;
}

.nav__logo a {
  text-decoration: none;
  color: black;
}

.nav__logo__second-text {
  color: #6878fd;
}

.nav__ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 35%;
  margin-right: 5%;
  font-size: 1.7rem;
}

.nav__ul li a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav__ul li a:hover {
  color: #5f5f5f;
}

.nav__hamburger {
  display: none;
  margin-right: 8%;
}

.nav__hamburger .line {
  margin: 0.5rem 0;
  height: 0.3rem;
  width: 2.5rem;
  background-color: black;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.nav-active {
  -webkit-transform: translateY(0vh);
          transform: translateY(0vh);
}

.nav-sticky {
  background-color: white;
  position: fixed;
  height: 8vh;
  -webkit-box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
          box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
}

.home {
  position: relative;
  height: 100vh;
  min-height: 90rem;
}

.home .container-page {
  margin-left: auto;
  width: 92%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .container-page .text-container .big-text {
  font-size: 4.5rem;
  letter-spacing: 0.2rem;
  position: relative;
  position: relative;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.home .container-page .text-container .big-text::first-letter {
  color: #6878fd;
}

.home .container-page .text-container .description {
  font-size: 1.8rem;
  margin-top: 2.5rem;
  width: 75%;
  position: relative;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.home .container-page .text-container .text-fade-in {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  opacity: 1;
}

.home .svg-home {
  height: 70%;
  position: relative;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.home .svg-fade-in {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.home-circle {
  position: absolute;
  z-index: -1;
}

.home-circle-left {
  top: 0;
  left: 0;
  height: 80%;
}

.spear {
  position: relative;
  background-color: #1a2336;
  color: rgba(255, 255, 255, 0.9);
  padding: 10rem 10rem;
}

.spear__title-container {
  width: 70rem;
  text-align: center;
  margin: auto;
}

.spear__title {
  font-size: 4rem;
  position: relative;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.spear__description {
  font-size: 1.6rem;
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.spear__description-fade-in {
  opacity: 1;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.spear__title-fade-in {
  opacity: 1;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.spear__card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: 7rem auto 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.spear__card {
  width: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 4rem;
  border-radius: 2.5rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.spear__card img {
  height: 10rem;
  position: relative;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.spear__card h1 {
  font-size: 2rem;
  margin: 1rem 0;
  position: relative;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.spear__card p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.spear__card .child-card-fade-in {
  opacity: 1;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.tracker {
  height: 100vh;
}

.tracker .tracker-map {
  width: 120rem;
  margin: auto;
}

.solution {
  position: relative;
  color: rgba(255, 255, 255, 0.9);
  background-color: #1a2336;
  padding: 10rem 0;
}

.solution__title-container {
  margin: auto;
  width: 70rem;
  text-align: center;
}

.solution__title-container .solution__title {
  font-size: 4rem;
  position: relative;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.solution__title-container .solution__description {
  width: 50rem;
  font-size: 1.6rem;
  margin: 1.5rem auto auto;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.solution__title-container .solution-fade-in {
  opacity: 1;
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.solution__card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  margin: 5rem auto;
}

.solution__card-container .solution__card {
  width: 15rem;
  text-align: center;
}

.solution__card-container .solution__card img {
  height: 10rem;
  position: relative;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.solution__card-container .solution__card h1 {
  font-size: 2rem;
  margin: 1rem 0;
  position: relative;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.solution__card-container .solution__card p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.solution__card-container .solution__card .solution-fade-in {
  opacity: 1;
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.contact-form {
  height: 100vh;
}

.footer {
  height: 30rem;
  width: 100%;
  background: url("../asset/footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
}

.footer .footer-container {
  width: 70%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-container div h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.footer .footer-container div p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 0.5rem;
}

.footer .footer-container div .contact a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  position: relative;
}

.footer .footer-container div .contact a:hover {
  color: rgba(255, 255, 255, 0.5);
  bottom: 0.2rem;
  margin-bottom: 0.5rem;
}
/*# sourceMappingURL=style.css.map */